/*
Name; Bahara
Date; 20 feb 2024
App Name; Style.css
Description; A simple website that display a purple sqaure box
*/




html {
  font-family: sans-serif;
}

/* Your CSS below here */
body {
  background-color: #f0f0f0; /* Light gray background */
  font-style: italic;
  display: flex;
  justify-content: center; /*Centering the body*/
  align-items: center; /*center the text in the box*/
  height: 100vh; /* make the box to be in the centre and the hiegght*/
  margin: 0;
}


.box-style { /* styling the box */
  width: 400px; /* width of the box */
  height: 400px; /* height of the box*/
  display: flex; /* allows to create flexible layout*/
  justify-content: center; /* centring the content */
  align-items: center; /* centering the item in the box*/


  margin: 0 auto;
  font-size: 1.7rem; /* font size*/
  color: #f0f0f0; /* color of the font */
  text-shadow: 1px 2px black; /* shodow of the text and color */
  background-color: blueviolet; /* background color*/
  border: 3px solid black; /* border color */
  border-radius: 8px; /*     */
  box-shadow: 5px 5px 10px black, inset 3px 3px 5px black,inset -3px -3px 5px whitesmoke;
  background-image:linear-gradient(to bottom right, black rgba(0,0,0)0%,blackrgba(0,0,0,0.2)30%,black rgba(0,0,0,0.2)100%);

}
