html {
  font-family: sans-serif;
}

/* Your CSS below here */
body {
  background-color: #f0f0f0; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.box-style {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;


  margin: 0 auto;
  font-size: 1.7rem;
  color: #f0f0f0;
  text-shadow: 1px 2px black;
  background-color: red;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 5px 5px 10px black, inset 3px 3px 5px black,inset -3px -3px 5px whitesmoke;
  background-image:linear-gradient(to bottom right, black rgba(0,0,0)0%,blackrgba(0,0,0,0.2)30%,black rgba(0,0,0,0.2)100%);

}
