/* General setup */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "Oswald-Regular";
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

/* Layout */
section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* Header and footer */
header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* Font faces */
@font-face {
  font-family: "Lato Light Italic";
  src: url("Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald Variable";
  src: url("Headlines-MediumItalic.otf") format("truetype");
}

/* Content styling */
h1 {
  font-weight: bold;
  font-style: italic;
  font-family: "Oswald Variable";
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}

h2 {
  font-family: "Oswald Variable";
  font-size: 15px;
  letter-spacing: 1px;
}

ul {
  color: black;
  list-style-type: square;
}

nav ul li {
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid darkred;
}

ul li a,
p a {
  color: darkred;
}

ol li a {
  color: darkred;
  text-decoration: underline;
}

ul ol {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

ul li,
ol li {
  line-height: 1.5;
  margin-bottom: 5px;
  list-style-type: square;
}

a {
  color: darkred;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: red; /* Change the color on hover */
}

a:focus {
  outline: none;
  text-decoration: underline;
}

section h1 + p,
section h2 + p {
  text-indent: 20px;
}

div {
  width: 300px;
  border: 15px solid darkred;
  padding: 50px;
  margin: 20px;
}