/*
Name; Bahara
Date; 20 Feb 2024
App Name; css style for a community school */



/* General setup */
* {
  box-sizing: border-box;
}
/* style for the body */
body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "Oswald-Regular";
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

/* Layout */
section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* Header and footer */
header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* Font faces */
@font-face {
  font-family: "Lato Light Italic";
  src: url("Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald Variable";
  src: url("Headlines-MediumItalic.otf") format("truetype");
}

/* Content styling */
h1 {
  font-weight: bold;
  font-style: italic;
  font-family: "Oswald Variable";
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}
/* style for the header 2 */
h2 {
  font-family: "Oswald Variable";
  font-size: 15px;
  letter-spacing: 1px;
}

ul {
  color: black; /* Set text color */
  list-style-type: square; /* Set list style type */
}

nav ul li {
  color: white; /* Set text color */
  border-radius: 10px; /* Set border radius */
  padding: 10px;  /* Add padding */
  margin-bottom: 5px; /* Add margin bottom */
  border: 2px solid darkred; /* Add border */
}

ul li a,
p a {
  color: darkred; /* Set text color */
}

ol li a {
  color: darkred;  /* Set text color */
  text-decoration: underline; /* Add underline */
}

ul ol {
  margin-top: 20px;/* Add margin top */
  margin-bottom: 20px;  /* Add margin bottom */
  padding-left: 20px; /* Add padding left */
}


ul li,
ol li {
  line-height: 1.5; /* Set line height */
  margin-bottom: 5px; /* Add margin bottom */
  list-style-type: square; /* Set list style type */
}


a {
  color: darkred; /* Set text color */
  text-decoration: underline; /* Add underline by default */
}

/* Remove underline on hover and focus */
a:hover,
a:focus {
  text-decoration: none; /* Remove underline on hover and focus */
}

a[href*="http"]{
  background-image: url("external-link-52.png"); /* Set background image */
  background-position: right; /* Set background position */
  background-size: 12px; /* Set background size */
  background-repeat: no-repeat; /* Set background repeat */
  padding-right: 15px; /* Add padding right */
}

section h1 + p,
section h2 + p {
  text-indent: 20px; /* Add text indentation */
}

div {
  width: 300px; /* Set width */
  border: 15px solid darkred; /* Add border */
  padding: 50px; /* Add padding */
  margin: 20px; /* Add margin */
}